<ion-header>
  <ion-toolbar>
    <ion-title>challengeMain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- First Ion Card -->
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Reto 1</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           correr un kilometro
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Second Ion Card -->
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Reto 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            correr 5 km
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Third Ion Card -->
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Reto 3</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            correr 3 km
          </ion-card-content>
        </ion-card>
      </ion-col>

<!-- Fourth Ion Card -->
<ion-col size="12" size-md="6">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reto 4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Haz 12 mil pasos en un dia
    </ion-card-content>
  </ion-card>
</ion-col>

<!-- Fifth Ion Card -->
<ion-col size="12" size-md="6">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reto 5</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Reto libre corre lo m'as que puedas para acumular puntos
    </ion-card-content>
  </ion-card>
</ion-col>

</ion-row>

  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="BTools" >
      <ion-col >
        <ion-img class="btn" src="assets/images/ConfigV.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="btn"  routerLink ="/index" src="assets/images/cMainV.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="btn" routerLink ="/join-group" src="assets/images/PowerV.png"></ion-img>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>


