.member-card {
  margin: 10px;
}

.card-content {
  display: flex;
  align-items: center;
}

ion-avatar {
  margin-right: 10px;
}

.profile-image {
  max-width: 100px;
  max-height: 100px;
}

.member-info {
  flex: 1;
}

.cards-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.point-card {
  flex: 1;
  background-color: rgb(45, 45, 45);
  margin-right: 10px;
}

.days-card {
  flex: 1;
  background-color:  rgb(45, 45, 45);
  margin-left: 10px;
}

.white-text {
  color: white;
}
 // general footer

 ion-footer{

  background-color: #ffff;
  height: 100px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
.BTools{
  display: flex;
 margin-left: 50px;
  ion-img{
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 2px 15px rgba(1, 0, 0.8, 0.8));
  }
}


}
