<ion-header>
  <ion-toolbar>
    <ion-title>
      Team Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <!-- AVATAR -->
  <ion-avatar (click)="selectImage()">
    <img
      alt="Silhouette of a person's head"
      src= "https://ionicframework.com/docs/img/demos/avatar.svg"
      *ngIf="profileImageUrl; else defaultAvatar"
      [src]="profileImageUrl"
      class="profile-image"
    />
    <ng-template #defaultAvatar>
      <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"class="profile-image"></ion-img>
    </ng-template>
  </ion-avatar>

  <input
  #imageInput
  type="file"
  style="display: none;"
  (change)="onImageSelected($event)"
  accept="image/*"
/>

<ion-item>
  <ion-label position="stacked">Team Name</ion-label>
  <ion-input [(ngModel)]="name" required></ion-input>
</ion-item>

  <!-- <ion-item>
    <ion-label position="stacked">Select Image</ion-label>
    <input type="file" (change)="onImageSelected($event)" accept="image/*" />
  </ion-item> -->

  <ion-button  color="danger"   (click)="registerTeam()">Register</ion-button>
</ion-content>
<!-- footer -->
<ion-footer>
  <ion-grid>
    <ion-row class="BTools" >
      <ion-col >
        <ion-img class="btn" src="assets/images/ConfigV.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="btn"  routerLink ="/index" src="assets/images/cMainV.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img class="btn" routerLink ="/challenge-main" src="assets/images/PowerV.png"></ion-img>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
